<a style="text-decoration:underline; color: blue" (click)="navigateToHome()">Retour</a>

@if(this.isError)
{
    <p>An error has occured while retrieving countries.</p>
}
@if(olympic) {
<app-stats [title]="olympic.country" [stats]="stats" />
<div class="chart-container">
<ngx-charts-line-chart [view]="view" [results]="data" [gradient]="false" [xAxis]="true"
    [yAxis]="true" [xAxisLabel]="'Dates'" [showXAxisLabel]="true"
    [showYAxisLabel]="true" [xScaleMin]="xScaleMin" [xScaleMax]="xScaleMax" [yScaleMin]="yScaleMin"
    [yScaleMax]="yScaleMax" [xAxisTickFormatting]="xAxisTickFormatting" [yAxisTickFormatting]="yAxisTickFormatting">

</ngx-charts-line-chart>
</div>
}
@else {
<p>Chargement...</p>
}